@import "tailwindcss";

@theme {
  --font-orbitron: "Orbitron", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;
}

/* Custom base layout/glow additions if needed */
